################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PathTracer/PathTracer/bin/Debug/netcoreapp1.1
/PathTracer/PathTracer/obj
/PathTracer/PathTracer/obj
/PathTracer/PathTracer/obj
/PathTracer/.vs/PathTracer/v15
/PathTracer/.vs/config
/PathTracer/PersonalWebpage/node_modules/purecss
/PathTracer/PersonalWebpage/node_modules
